.footer-metalink {
    padding: 24px 0px 16px;
    line-height: 24px;
}

.footer-item {
    padding: 5px 5px;
}

.footer-item-label {
    font-weight: bold;
}

.footer-item-list {
    list-style: none;
    padding-left: 0;
}

.footer-copyright {
    text-align: center;
    padding: 24px;
}