html, body {
    overflow-x: hidden;
}

.transparent {
    background-color: transparent;
}

.main-wrapper {
    min-width: 100vw;
    min-height: 100vh;
    background: url("./../asset/image/bench-accounting-49909-unsplash.jpg");
    background-size: cover;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration:none;
    color: inherit;
}

a:hover {
    color: black;
}